@model IEnumerable<Environmental_survey.Models.FaQs>

@{
    ViewData["Title"] = "viewFaQs";
    Layout = "~/Views/Shared/Dashboard_header_footer.cshtml";
}



<div class="container">
    <table class="table table-striped table-hover table-bordered border-dark">
        <thead>
            <tr class="table-active">
            <th>
Question    
            </th>
            <th>
Answer            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                        <a asp-action="faQsEdit" class="btn btn-success" asp-route-id="@item.id">Update</a>
                        <a asp-action="faQsDelete" class="btn btn-danger" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>